# Python
*.pyc
__pycache__/
*.pyo
*.pyd
requirements.txt

# Virtual Environment
venv/
*.venv
env/
.env
*.env
.python-version

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
migrations

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other Files
static/js/cr_padron_*.json