{% extends "simple_history/object_history.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}
<h2>{% trans "Change Details" %}</h2>
<table>
    <thead>
        <tr>
            <th>{% trans "Field" %}</th>
            <th>{% trans "Old Value" %}</th>
            <th>{% trans "New Value" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for change in object_history %}
        {% for field, values in change.changes.items %}
        <tr>
            <td>{{ field }}</td>
            <td>{{ values.0 }}</td>
            <td>{{ values.1 }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}